/* Usuario.module.css */

.UsuarioContainer {
    background-image: url('https://img.freepik.com/vector-gratis/fondo-futurista-degradado-geometrico_23-2149116406.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    /* Añade otros estilos si es necesario */
  }
  

  
  /* Resto de tus estilos CSS existentes para el componente Usuario */
  



form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #080000;
    border-radius: 1em;
    background-color: #fcfcfd;
    color: rgb(10, 0, 0);
}

h4{
    color: red;
}